language: android
android:
  components:
    - tools
    - build-tools-23.0.2
    - android-23
    - extra-google-m2repository
    - extra-android-m2repository
jdk:
    - oraclejdk8
script:
    - ./gradlew build test